#root,
html,
body,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(.css-dev-only-do-not-override-i0102m)[class^="ant-col"],
:where(.css-dev-only-do-not-override-i0102m)[class*=" ant-col"],
:where(.css-dev-only-do-not-override-i0102m)[class^="ant-col"],
:where(.css-dev-only-do-not-override-i0102m).ant-form {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
}
:where(.css-dev-only-do-not-override-i0102m)[class^="ant-input"],
:where(.css-dev-only-do-not-override-i0102m)[class*=" ant-input"] {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  box-sizing: border-box;
}
